$capri: #02BEFD;
$maya-blue-light: #76D3FE;
$maya-blue: #76D3FE;
$winter-wizard: #A4DFFD;
$blue-bolt: #00B0FC;
$vivid-cerulean: #019EF3;

$blue: #0C243D;
$polic-blue: #27496A;
$silver-lake-blue: #5C8EB4;
$wild-blue-yonder: #9AB7CD;
$light-periwinkle: #C1D1DB;

$mignight-blue: #073965;
$white: #FFFFFF;

:export {
    capri: $capri;
    mayaBlueLight: $maya-blue-light;
    mayaBlue: $maya-blue;
    winterWizard: $winter-wizard;
    blueBolt: $blue-bolt;
    vividCerulean: $vivid-cerulean;
    blue: $blue;
    policBlue: $polic-blue;
    silverLakeBlue: $silver-lake-blue;
    wildBlueYonder: $wild-blue-yonder;
    lightPeriwinkle: $light-periwinkle;
    mignightBlue: $mignight-blue;
    white: $white;
}